@import url(styles/cabecalho.css);
@import url(styles/consultas.css);
@import url(styles/rodape.css);
@import url(styles/botao-flutuante.css);

:root {
    --fonte-principal: "Montserrat";
    --cor-de-fundo: #f9f7fe;
    --cor-texto: #A3A3A3;
    --cinza: #464646;
    --branco: #FFFFFF;
    --laranja: #FFB050;
    --azul: #4894FF;
    --branco-borda: #ECECEC;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
}