.container-botao-flutuante {
    position: fixed;
    bottom: 65px;
    right: 10px;
    z-index: 3;
}

.container-botao-flutuante a {
    background-image: url(/img/maisicone.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
}

.container-botao-flutuante a.botao-flutuante {
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background-color: #4894FF;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.botoes-consultas {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.texto-local {
    margin-right: 6em;
    padding: 4px 10px;
    font-weight: 500;
    font-size: 12px;
    background-color: var(--branco);
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    border-radius: 2323px;
}

.texto-video {
    width: max-content;
    margin-left: auto;
    margin-right: 6em;
    padding: 4px 10px;
    margin-bottom: 2.3em;
    font-weight: 500;
    font-size: 12px;
    background-color: var(--branco);
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    border-radius: 2323px;
}

.consulta-local {
    background-image: url(/img/pinfabiconee.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background-color: #4894FF;
    bottom: 80px;
    right: 0px;
    z-index: 3;
}

.consulta-video {
    background-image: url(/img/cameraFabIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 30px;
    background-color: #4894FF;
    bottom: 10px;
    right: 0px;
    z-index: 3;
}

.lista-botoes {
    display: none;
    z-index: 3;
}

#conteudo {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0%;
    background: rgba(0,0,0,.4);
    z-index: 1;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.container-botao:checked ~ .lista-botoes {
    display: block;
    position: fixed;
    bottom: 125px;
    right: 10px;
}

.container-botao {
    display: none;
}

.icone-botao-flutuante {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .botao-flutuante:hover {
        transform: scale(1.1);
    }

    .consulta-local:hover {
        transform: scale(1.1);
    }

    .consulta-video:hover {
        transform: scale(1.1);
    }

    .texto-local::before {
        transform: scale(1.1);
    }

    .texto-local:hover {
        cursor: default;
    }

    .texto-video:hover {
        cursor: default;
    }
}