.container-cabecalho {
    display: flex;
    align-items: center;
    padding: 2em 1em 0em 1em;
}

.imagem-cabecalho {
    width: 57px;
    height: 57px;
    border-radius: 30px;
}

.textos-cabecalho {
    padding-left: 1.2em;

}

.titulo-cabecalho {
    font-weight: 700;
    font-size: 22px;
    padding-bottom: 0.5em;
}

.texto-cabecalho {
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-texto);
}

@media screen and (min-width:1440px) {
    .container-cabecalho {
        padding-left: 2em;
    }

    .imagem-cabecalho {
        width: 96px;
        height: 96px;
        border-radius: 56px;
    }

    .titulo-cabecalho {
        font-size: 31px;
    }

    .texto-cabecalho {
        font-size: 18px;
    }
}